<!--<?php
    session_start();
    /*echo "<p color='white'>";
    print_r($_SESSION);
    echo "</p>";*/
    if ( isset($_SESSION['is_connected']) && $_SESSION['is_connected'] == 'oui' && isset($_SESSION['ID']) && isset($_SESSION['login']) ){
        //session open
        //do nothing
    }
    else{
        $_SESSION['error_msg'] = "Vous n'êtes pas connecté à votre compte.<br>Veuillez vous connecter.";
        header("Location: login.php");
        exit;
    }
    
    // Nouvelle activité, on met à jour la variable pour la déconnexion automatique (après un certain temps d'inactivité)
    $_SESSION['last_activity_time'] = time();

    //Variables
    $ID = $_SESSION['ID'];
    $login = $_SESSION['login'];
?>-->

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="Styles/style2.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Le script jquery est essentiel pour faire fonctionner JQUERY et AJAX :
            -> session_lifespan.js ne fonctionne pas sans 
            -> le script en bas de page ne fonctionne pas sans
    -->
    <!--<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="session_lifespan.js"></script>-->
    <title>FDE : Mes informations</title>
</head>
<body style="background-image: url('Images/Background_images.jpg');">
    <div class="wrapper">
        <%- include('header') %>
        <main>
            <%- include('account_icon_bar.html'); %>
            <div class="container">
                <div class="form-box">
                    <div class="login-container" id="modify-account">
                        <fieldset>
                            <header>Vos informations <?php echo $_SESSION['login'];?></header>
                            <div class='error_msg' id='error_msg'>
                                <% if (error_msg != ""){ %>
                                    <%= error_msg %>
                                <% } %>
                            </div>
                            <form action="/register_modification_account" method="POST"> <!-- enctype="multipart/form-data" allows the form to send file, can be used only if method="post"-->
                                <div class="input-box">
                                    <div>Points</div>
                                    <div class="info-field"><%= score %></div>
                                </div>
                                <div class="input-box" id="gender">
                                    <label for="Gender">Genre</label>
                                    <div class="select-gender">
                                        <div>
                                            <input type="radio" name="Gender" value="Madame" <% if(gender ==="Madame"){ %> checked <% } %> >Madame
                                        </div>
                                        <div>
                                            <input type="radio" name="Gender" value="Monsieur"<% if(gender ==="Monsieur"){ %> checked <% } %> >Monsieur
                                        </div>
                                        <div>
                                            <input type="radio" name="Gender" value="Non binaire" <% if(gender ==="Non binaire"){ %> checked <% } %> >Non binaire
                                        </div>
                                        <div>
                                            <input type="radio" name="Gender" value="Non défini" <% if(gender ==="Non défini"){ %> checked <% } %> >Non défini
                                        </div>
                                    </div>
                                </div>
                                <div class="input-box">
                                    <label for="Login">Login</label>
                                    <input type="text" name="Login" id="Login" class="input-field" value="<%= login %>" >
                                </div>
                                <div class="input-box">
                                    <label for="Password">Mot de passe</label>
                                    <input type="text" name="Password" id="Password" class="input-field" value="<%= password %>" >
                                </div>
                                <div class="input-box">
                                    <label for="Firstname">Prénom</label>
                                    <input type="text" name="Firstname" id="Firstname" class="input-field" value="<%= f_name %>">
                                </div>
                                <div class="input-box">
                                    <label for="Name">Nom</label>
                                    <input type="text" name="Name" id="Name" class="input-field" value="<%= l_name %>">
                                </div>
                                <div class="input-box">
                                    <label for="Email">Email</label>
                                    <input type="text" name="Email" id="Email" class="input-field" value="<%= mail %>">
                                </div>
                                <div class="input-box">
                                    <label>Photo de profil</label>
                                    <input type="file" name="Profile_picture" id="Profile_picture" accept="image/jpeg">
                                    <div class="Profile_picture_area" id="Profile_picture_area">
                                        <div class="PP_block_img" id="PP_block_img">
                                            <div class="profile-img vertical-img" id="PP_img_container">
                                                <img id="PP_img_actual" src="<%= path_profile_picture %>" alt="IMG"><!--"<%= path_profile_picture %>?t= . $_SESSION['cache_buster'] . "-->
                                            </div>
                                        </div>
                                        <div class="PP_block_btn">
                                            <div class="PP_add-img_btn">
                                                <button id="change_actual_PP">Ajouter une photo</button>
                                            </div>
                                        </div>
                                        
                                        <!--<?php
                                            if ( isset($_SESSION['is_connected']) && $_SESSION['is_connected'] == 'oui' && isset($_SESSION['ID']) && isset($_SESSION['login']) ){
                                                //session open
                                                $ID = $_SESSION['ID'];
                                                echo "      <div class=\"PP_block_img\" id=\"PP_block_img\">";

                                                $path_profile_picture = "Accounts/ID_" . $ID . "/profile_picture/profile_picture_ID_" . $ID . ".jpg";
                                                if (!file_exists($path_profile_picture)){
                                                    $path_profile_picture = "Logos/profile_picture.svg";
                                                    echo "      <div class=\"profile-img vertical-img\">
                                                                    <img id=\"PP_img_actual\" src=$path_profile_picture?t=" . $_SESSION['cache_buster'] . " alt=\"IMG\">
                                                                </div>
                                                            </div>
                                                            <div class=\"PP_block_btn\">
                                                                <div class=\"PP_add-img_btn\">
                                                                    <button id=\"change_actual_PP\">Ajouter une photo</button>
                                                                </div>
                                                            </div>";
                                                }
                                                else {
                                                    list($width, $height, $type, $attr) = getimagesize($path_profile_picture);
                                                    if ($height >= $width){
                                                        echo "  <div class=\"profile-img vertical-img\">";
                                                    }
                                                    else {
                                                        echo "  <div class=\"profile-img horizontal-img\">";
                                                    }
                                                    echo "          <img  id=\"PP_img_actual\" src=$path_profile_picture?t=" . $_SESSION['cache_buster'] . " alt=\"img_PP\">";
                                                            /*  microtime(true) :   nbre de secondes écoulés depuis le 1er janvier 1970 (début de l'époque Unix)
                                                                                    c'est un float, contrairement à time
                                                                (int) : rend entier le float
                                                                BUT :   - rendre l'URL unique en ajoutant le nbre de millisecondes écoulés depuis le 1er janvier 1970.
                                                                        - cela permet en JS (function refreshProfilePicture()) de recharger l'image si elle a été changée
                                                                        ce qui n'est pas possible si on ne met que $path_profile_picture car le navigateur a l'image en cache et ne fera pas le changement d'image
                                                            */
                                                    echo "      </div>
                                                            </div>
                                                            <div class=\"PP_block_btn\">
                                                                <div class=\"PP_delete-img_btn\">
                                                                    <button id=\"delete_actual_PP\">Supprimer photo</button>
                                                                </div>
                                                                <div class=\"PP_add-img_btn\">
                                                                    <button id=\"change_actual_PP\">changer photo</button>
                                                                </div>
                                                            </div>";
                                                }
                                            }
                                        ?>-->
                                    </div>
                                </div>
                                <div class="input-box">
                                    <label for="Job">Profession</label>
                                    <input type="text" name="Job" id="Job" class="input-field" value="<%= job %>">
                                </div>
                                <div class="input-box">
                                    <input type="submit" name="submit" class="submit" value="Enregistrer">
                                </div>
                        <!--<?php
                            //echo "<div id='test'><p id='azerty'>Cache-buster : " . $_SESSION['cache_buster'] . "</div></p>";
                        ?>-->
                            </form>
                        </fieldset>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <script>
        const img= new Image();
        img.src = document.getElementById('PP_img_actual').getAttribute('src');
        const img_container = document.getElementById('PP_img_container');
        img.onload = function(){
            // image verticale
            if (img.height >= img.width){
                img_container.classList.remove("horizontal-img");
                img_container.classList.add("vertical-img");
                alert("Width : " + img.width + ", Height : " + img.height + " ."  + "\nLIEN : " + img.src + "\nImg verticale.");
            }
            // image horizontale
            else {
                img_container.classList.remove("vertical-img");
                img_container.classList.add("horizontal-img");
                alert("Width : " + img.width + ", Height : " + img.height + " ."  + "\nLIEN : " + img.src + "\nImg horizontale.");
            }
        }
        /*



        $(document).ready(function(){
            const InputImg = document.getElementById("Profile_picture");
            var fileSelected = false;

            //var x = setInterval(refreshProfilePicture, 5000);  //refresh messages every 2000 milliseconds (2s)
        
            // (re)Load profile picture img
            //refreshProfilePicture();
            function refreshProfilePicture() {
                $.ajax({
                    url: 'update_cache_buster.php',
                    method: 'GET',
                    success: function(response){
                        //alert(response);
                        console.log(response);
                        $("#test").load(window.location.href + " #test > #azerty");
                        
                        // 1. in .nav : Head of page
                        $('#Profile_picture_area').load(window.location.href + " #Profile_picture_area > *");

                        // 2. in personal-account form
                        $('.menu-profile-picture').load(window.location.href + " .menu-profile-picture > *");
                    },
                    error: function(xhr, status, error) {
                        console.error(xhr.responseText);
                        alert("Erreur lors de la mise à jour du cache-buster ($_SESSION['cache_buster'], du fichier update_cache_buster.php) : ", error);
                    }
                });
            }

            // Delete personal picture
            $(document).on('click', '#delete_actual_PP', function(event){*/
                /*  -> Le click est rattaché au document, donc si le bouton '#delete_actual_PP' est rechargé en AJAX/Jquery,
                    on pourra cliquer dessus et cette fonction s'exécutera.
                    -> Cela ne marcherait pas avec $('#delete_actual_PP').on('click', function(event){ où la fonction ne
                    s'exécuterait pas et le bouton enverrait le formulaire (fonction du bouton par défaut).
                */
               /*
                event.preventDefault(); // empêche rafraichissement de page, ici empeche surtout l'envoi du formulaire en cliquant sur ce btn
                InputImg.value = "";  // efface le fichier img sélectionné auparavant (s'il y en avait un)
                $.ajax({
                    url: 'delete_profile_picture.php',
                    method: 'GET',
                    processData: false,
                    contentType: false,
                    success: function(response){
                        alert(response);
                        refreshProfilePicture();
                    },
                    error: function(xhr, status, error) {
                        console.error(xhr.responseText);
                        alert('Erreur survenue lors de la suppression de la photo de profil.');
                    }
                });*/
                // DEBUG affichage : $_SESSION['last_activity_time'] (variable qui déconnecte après un certain temps d'inactivité)
                /*$('#account_icon_bar').load(window.location.href + ' #account_icon_bar > *');*/
            /*});

            //changeImgBtn.addEventListener('click', function(event){
            $(document).on('click', '#change_actual_PP', function(event){
                event.preventDefault(); // empêche rafraichissement de page, ici empeche surtout l'envoi du formulaire en cliquant sur ce btn
                InputImg.value = "";  // efface le fichier img sélectionné auparavant (s'il y en avait un)
                InputImg.click();
                */
                // DEBUG affichage : $_SESSION['last_activity_time'] (variable qui déconnecte après un certain temps d'inactivité)
                /*$('#account_icon_bar').load(window.location.href + ' #account_icon_bar > *');*/
            /*});
            
            //Affiche la nouvelle img de profil
            $('#Profile_picture').on('change', function(){ // change : détecte qd #Profile_picture change de valeurs (ici qd un fichier est mis)
                if (this.files.length > 0){ // this : vaut ici $('#Profile_picture')[0]
                    fileSelected = true;
                }
                if(fileSelected){
                    if ($('#Profile_picture')[0].files[0].type !== 'image/jpeg'){
                        alert("Seuls les fichiers JPG sont acceptés.");
                        return;
                    }
                    else{
                        //alert("Fichier sélectionné : " + this.files[0].name + "\n AJAX à suivre");
                        var formdata = new FormData();
                        formdata.append('PP-image', this.files[0]);
                        
                        // Envoie les données du formulaire en AJAX
                        $.ajax({                            //requête asynchrone au serveur
                            type: 'POST',
                            url: 'register_new_profile_picture.php',   //URL où on envoie la requête
                            data: formdata,                 //données envoyées avec la requête
                            processData: false,
                            contentType: false,
                            success: function(response) {
                                alert("Réponse :" + response);
                                refreshProfilePicture();
                                //$("#PP_img_actual").load(window.location.href + " #PP_img_actual");
                            },
                            error: function(xhr, status, error) {
                                console.error(xhr.responseText);
                                alert('Une erreur est survenue.');
                            }
                        });
                    }
                }
            });
        });*/
    </script>
</body>
</html>