<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image" href="Logos/logo_FDE.svg">
    <link rel="stylesheet" href="css/style2.css">
    <!--Le script jquery est essentiel pour faire fonctionner JQUERY et AJAX :
    -> session_lifespan.js ne fonctionne pas sans 
    -> le script en bas de page ne fonctionne pas sans
    -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FDE : Mes informations</title>
</head>
<body>
    <div class="wrapper">
        <%- include('partials/header_connected') %>
        <main>
            <div class="container">
                <div class="form-box">
                    <div class="login-container" id="modify-account">
                        <fieldset>
                            <header>Vos informations</header>
                            <div class='error_msg' id='msgChange'></div>
                            <form id="changeData">
                                <div class="input-box">
                                    <div>Points</div>
                                    <div class="info-field" id="score"><%= score %></div>
                                </div>
                                <div class="input-box">
                                    <div>Ma région</div>
                                    <div class="info-field"><%= region %></div>
                                </div>
                                <div class="input-box" id="gender">
                                    <label for="Gender">Genre</label>
                                    <div class="select-gender">
                                        <div>
                                            <input type="radio" name="Gender" value="Madame" <% if(gender ==="Madame"){ %> checked <% } %> >Madame
                                        </div>
                                        <div>
                                            <input type="radio" name="Gender" value="Monsieur"<% if(gender ==="Monsieur"){ %> checked <% } %> >Monsieur
                                        </div>
                                        <div>
                                            <input type="radio" name="Gender" value="Non binaire" <% if(gender ==="Non binaire"){ %> checked <% } %> >Non binaire
                                        </div>
                                        <div>
                                            <input type="radio" name="Gender" value="Non défini" <% if(gender ==="Non défini"){ %> checked <% } %> >Non défini
                                        </div>
                                    </div>
                                </div>
                                <div class="input-box">
                                    <label for="Login">Login</label>
                                    <input type="text" name="Login" id="Login" class="input-field" value="<%= login %>" >
                                </div>
                                <div class="input-box">
                                    <label for="Firstname">Prénom</label>
                                    <input type="text" name="Firstname" id="Firstname" class="input-field" value="<%= f_name %>">
                                </div>
                                <div class="input-box">
                                    <label for="Name">Nom</label>
                                    <input type="text" name="Name" id="Name" class="input-field" value="<%= l_name %>">
                                </div>
                                <div class="input-box">
                                    <div>Date de naissance</div>
                                    <div class="info-field">
                                        <%= date_birth %>
                                    </div>
                                </div>
                                <div class="input-box">
                                    <label for="Email">Email</label>
                                    <input type="text" name="Email" id="Email" class="input-field" value="<%= mail %>" disabled>
                                </div>
                                <div class="input-box">
                                    <label>Photo de profil</label>
                                    <input type="file" name="Profile_picture" id="Profile_picture" accept="image/jpeg">
                                    <div class="Profile_picture_area" id="Profile_picture_area">
                                        <div class="PP_block_img" id="PP_block_img">
                                            <div class="profile-img vertical-img" id="PP_img_container">
                                                <% if(has_PP === "yes"){ %>
                                                    <img id="PP_img_actual" src="<%= path_profile_picture %>" alt="IMG PP">
                                                <% } else { %>
                                                    <img id="PP_img_actual" src="Logos/profile_picture.svg" alt="IMG PP">
                                                <% } %>
                                            </div>
                                        </div>
                                        <div class="PP_block_btn">
                                            <% if(has_PP === "yes"){ %>
                                                <div class="PP_delete-img_btn">
                                                    <button id="delete_actual_PP">Supprimer photo</button>
                                                </div>
                                                <div class="PP_add-img_btn">
                                                    <button id="change_actual_PP">changer photo</button>
                                                </div>
                                            <% } else { %>
                                                <div class="PP_add-img_btn">
                                                    <button id="change_actual_PP">Ajouter une photo</button>
                                                </div>
                                            <% } %>
                                        </div>
                                    </div>
                                </div>
                                <div class="input-box">
                                    <label for="Job">Profession</label>
                                    <input type="text" name="Job" id="Job" class="input-field" value="<%= job %>">
                                </div>
                                <div class="input-box">
                                    <input type="submit" name="submit" class="submit" value="Enregistrer">
                                </div>
                            </form>
                        </fieldset>
                    </div>
                </div>
                <div class="form-box">
                    <div class="login-container" id="modify-account">
                        <fieldset>
                            <header>Changer votre mot de passe</header>
                            <div class='error_msg' id='msg_pwd'></div>
                            <form id="changepwd">
                                <div class="input-box">
                                    <label for="Password">Mot de passe actuel</label>
                                    <input type="password" name="actualPassword" id="actualPassword" class="input-field">
                                </div>
                                <div class="input-box">
                                    <label for="Password">Nouveau mot de passe</label>
                                    <input type="password" name="newPassword" id="newPassword" class="input-field">
                                </div>
                                <div class="input-box">
                                    <label for="Password">Confirmation de votre nouveau mot de passe</label>
                                    <input type="password" name="newPasswordConfirm" id="newPasswordConfirm" class="input-field">
                                </div>
                                <div class="input-box">
                                    <input type="submit" name="submit" class="submit" value="Enregistrer">
                                </div>
                            </form>
                        </fieldset>
                    </div>
                </div>
            </div>
            

        </main>
    </div>
    <script>
        // Centrer l'image dans le cercle
        const img= new Image();
        img.src = document.getElementById('PP_img_actual').getAttribute('src');
        const img_container = document.getElementById('PP_img_container');
        img.onload = function(){
            // image verticale
            if (img.height >= img.width){
                img_container.classList.remove("horizontal-img");
                img_container.classList.add("vertical-img");
                //alert("Width : " + img.width + ", Height : " + img.height + " ."  + "\nLIEN : " + img.src + "\nImg verticale.");
            }
            // image horizontale
            else {
                img_container.classList.remove("vertical-img");
                img_container.classList.add("horizontal-img");
                //alert("Width : " + img.width + ", Height : " + img.height + " ."  + "\nLIEN : " + img.src + "\nImg horizontale.");
            }
        }


        document.getElementById('changepwd').addEventListener('submit', function(event) {
            event.preventDefault();

            const form = event.target;
            const formData = new FormData(form);

            fetch('/request/changePassword', {
                method: 'POST',
                body: formData
            })
            .then(response => {

                if (!response.ok) {
                   console.log("Internal Error")
                }
                return response.json();
            })
            .then(data => {
                if (data.redirect) {
                    window.location.href = data.redirect;
                }
                
                const msgDiv = document.getElementById('msg_pwd');
                if (data.done) {
                    msgDiv.style.color = 'green';
                } else {
                    msgDiv.style.color = 'red';
                }
                msgDiv.textContent = data.message;
            })
            .catch(error => {
                console.error('Error:', error);
            });
        });

        document.getElementById('changeData').addEventListener('submit', function(event) {
            event.preventDefault();

            const form = event.target;
            const formData = new FormData(form);

            fetch('/registerModificationAccount', {
                method: 'POST',
                body: formData
            })
            .then(response => {

                if (!response.ok) {
                   console.log("Internal Error")
                }
                return response.json();
            })
            .then(data => {
                if (data.redirect) {
                    window.location.href = data.redirect;
                }
                
                const msgDiv = document.getElementById('msgChange');
                if (data.done) {
                    msgDiv.style.color = 'green';
                } else {
                    msgDiv.style.color = 'red';
                }
                msgDiv.textContent = data.message;
            })
            .catch(error => {
                console.error('Error:', error);
            });
        });
    </script>
</body>
</html>